---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/br/v1.4/summoner/4691228/masteries/?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 2:10,14:600
    body:
      encoding: UTF-8
      string: '{"4691228":{"summonerId":4691228,"pages":[{"id":7342584,"name":"Strength
        of Ages","current":false,"masteries":[{"id":6343,"rank":1},{"id":6311,"rank":5},{"id":6242,"rank":1},{"id":6221,"rank":1},{"id":6331,"rank":5},{"id":6321,"rank":1},{"id":6262,"rank":1},{"id":6212,"rank":5},{"id":6231,"rank":5},{"id":6252,"rank":5}]},{"id":7342585,"name":"Thunderlord''s
        [AP]","current":true,"masteries":[{"id":6114,"rank":5},{"id":6343,"rank":1},{"id":6311,"rank":5},{"id":6123,"rank":1},{"id":6331,"rank":5},{"id":6142,"rank":1},{"id":6322,"rank":1},{"id":6134,"rank":5},{"id":6362,"rank":1},{"id":6352,"rank":5}]},{"id":7342586,"[...]
