---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/BR/v1.3/game/by-summoner/4691228/recent?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,3:600
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":4691228,"games":[{"gameId":837215199,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":100,"championId":37,"spell1":4,"spell2":14,"level":30,"ipEarned":82,"createDate":1468907906528,"fellowPlayers":[{"summonerId":9878576,"teamId":200,"championId":25},{"summonerId":3817069,"teamId":200,"championId":41},{"summonerId":14102089,"teamId":100,"championId":39},{"summonerId":3658508,"teamId":100,"championId":69},{"summonerId":6473216,"teamId":100,"championId":24},{"summonerId":9833619,"teamId":200,"championId":64},{"summonerId":4896786,"teamId":200,"championId":150},{"summonerId":14960702,"teamId":100,"championId":236},{"summonerId":12310247,"teamId":200,"championId":119}],"stats":{"level":18,"goldEarned":15649,"numDeaths":8,"turretsKilled":1,"minionsKilled":21,"championsKilled":9,"goldSpent":15550,"totalDamageDealt":59120,"totalDamageTaken":31224,"killingSprees":2,"largestKillingSpree":6,"team":100,"win":false,"neutralMinionsKilled":2,"largestMultiKill":1,"physicalDamageDealtPlayer":7826,"magicDamageDealtPlayer":50222,"physicalDamageTaken":19303,"magicDamageTaken":9473,"timePlayed":2873,"totalHeal":19312,"totalUnitsHealed":5,"assists":13,"item0":3100,"item1":3116,"item2":3143,"item3":2301,"item4":3110,"item5":3020,"item6":3340,"magicDamageDealtToChampions":31857,"physicalDamageDealtToChampions":4403,"totalDamageDealtToChampions":37332,"trueDamageDealtPlayer":1071,"trueDamageDealtToChampions":1071,"trueDamageTaken":2447,"wardKilled":3,"wardPlaced":57,"neutralMinionsKilledYourJungle":2,"totalTimeCrowdControlDealt":1214,"playerRole":2,"playerPosition":4,"totalDamageDealtToBuildings":85}},{"gameId":837251971,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":200,"championId":25,"spell1":4,"spell2":14,"level":30,"ipEarned":60,"createDate":1468904502060,"fellowPlayers":[{"summonerId":13513865,"teamId":200,"championId":114},{"summonerId":2094563,"teamId":200,"championId":254},{"summonerId":3447116,"teamId":200,"championId":51},{"summonerId":1995774,"teamId":100,"championId":29},{"summonerId":1632071,"teamId":100,"championId":12[...]
