---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/observer-mode/rest/consumer/getSpectatorGameInfo/br1/4691228?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,3:600
    body:
      encoding: ASCII-8BIT
      string: '{"gameId":837251971,"mapId":11,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","gameQueueConfigId":400,"participants":[{"teamId":100,"spell1Id":4,"spell2Id":12,"championId":126,"profileIconId":1114,"summonerName":"Spalt","bot":false,"summonerId":1632071,"runes":[{"count":9,"runeId":5245},{"count":9,"runeId":5289},{"count":9,"runeId":5317},{"count":1,"runeId":5335},{"count":2,"runeId":5337}],"masteries":[{"rank":5,"masteryId":6111},{"rank":1,"masteryId":6121},{"rank":5,"masteryId":6131},{"rank":1,"masteryId":6142},{"rank":5,"masteryId":6312},{"rank":1,"masteryId":6322},{"rank":5,"masteryId":6331},{"rank":1,"masteryId":6343},{"rank":5,"masteryId":6351},{"rank":1,"masteryId":6362}]},{"teamId":100,"spell1Id":4,"spell2Id":7,"championId":29,"profileIconId":936,"summonerName":"Sputn1k","bot":false,"summonerId":1995774,"runes":[{"count":9,"runeId":5247},{"count":9,"runeId":5275},{"count":9,"runeId":5305},{"count":3,"runeId"[...]
