---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/br/v1.4/summoner/by-name/Pirokaun?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,13:600
    body:
      encoding: UTF-8
      string: '{"pirokaun":{"id":4691228,"name":"Pirokaun","profileIconId":673,"summonerLevel":30,"revisionDate":1468907906000}}'
  recorded_at: Sat, 23 Jul 2016 21:07:44 GMT
recorded_with: VCR 3.0.3
