---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/br/v1.2/champion/1?api_key=API_KEY&freeToPlay=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 5:10,5:600
    body:
      encoding: UTF-8
      string: '{"id":1,"active":true,"botEnabled":true,"freeToPlay":false,"botMmEnabled":true,"rankedPlayEnabled":true}'
  recorded_at: Sat, 23 Jul 2016 21:07:27 GMT
recorded_with: VCR 3.0.3
