---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/br/v2.5/league/by-summoner/4691228/entry?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,2:600
    body:
      encoding: ASCII-8BIT
      string: '{"4691228":[{"name":"Rengar''s Elite","tier":"SILVER","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"4691228","playerOrTeamName":"Pirokaun","division":"IV","leaguePoints":0,"wins":20,"losses":21,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Sat, 23 Jul 2016 04:02:19 GMT
recorded_with: VCR 3.0.3
