---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/championmastery/location/BR1/player/4691228/champion/1?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,1:600
    body:
      encoding: ASCII-8BIT
      string: '{"playerId":4691228,"championId":1,"championLevel":3,"championPoints":6356,"lastPlayTime":1464507561000,"championPointsSinceLastLevel":356,"championPointsUntilNextLevel":6244,"chestGranted":false,"tokensEarned":0}'
  recorded_at: Fri, 22 Jul 2016 18:07:28 GMT
recorded_with: VCR 3.0.3
