---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/championmastery/location/br1/player/4691228/champions?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 2:10,2:600
    body:
      encoding: UTF-8
      string: '[{"playerId":4691228,"championId":25,"championLevel":6,"championPoints":81504,"lastPlayTime":1468904502000,"championPointsSinceLastLevel":59904,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0},{"playerId":4691228,"championId":53,"championLevel":5,"championPoints":51406,"lastPlayTime":1467861371000,"championPointsSinceLastLevel":29806,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0},{"playerId":4691228,"championId":60,"championLevel":7,"championPoints":51356,"lastPlayTime":1468459755000,"championPointsSinceLastLevel":29756,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0},{"playerId":4691228,"championId":133,"championLevel":7,"championPoin[...]
