---
http_interactions:
- request:
    method: get
    uri: https://br.api.pvp.net/api/lol/br/v1.4/summoner/4691228?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Rate-Limit-Count:
      - 1:10,1:600
    body:
      encoding: ASCII-8BIT
      string: '{"4691228":{"id":4691228,"name":"Pirokaun","profileIconId":673,"summonerLevel":30,"revisionDate":1468907906000}}'
  recorded_at: Thu, 21 Jul 2016 17:59:40 GMT
recorded_with: VCR 3.0.3
